<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Visa Versa aaa</h1>
    <form action="{% url 'reverse'%}">
        <textarea rows="10" calls='50' name="usertext"></textarea> <br> <br>
        <input type= 'submit' value='do it'>
    </form>
    <form action="{% url 'telegram'%}">
        <input type="submit" value="Sent message">
    </form>
</body>
</html>